[Desktop Entry]
Encoding=UTF-8
Name=Lien vers ¶
Type=Link
URL=http://localhost:8888/notebooks/IA.ipynb#IA---Les-m%C3%A9thodes-d'apprentissage-supervisees
Icon=text-html
